

.flex1{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}


.flex1 img,
.flex2 img{
    width: 50%;
}

.flex2 img{
    order: 2;
}

.flex2{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}


.center img{
    width: 100%;
    height: 100vh;
    margin-bottom: -5%;
}


.flex3{
    width: 50%;
}


.flex3 img{
    width: 100%;
}