@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-logo {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    cursor: pointer;
    z-index: 22;
    font-family: 'Poppins', sans-serif;
}

.NavbarItems {
    z-index: 99;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    border-radius: 13px;
    z-index: 1;
}

.nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.nav-links {
    display: block;
    width: 100%;
    font: 1.2rem;
    padding: 2rem 0;
    color: #3e3c3cc9;
}

.nav-links:hover{
    background-color: #171616a2;
    transition: none;
}

button {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: auto;
    border-radius: 4px;
    width: 80%;
    background-color: #292828a2;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu-icons {
    display: block;
    cursor: pointer;
    z-index: 22;
}

.menu-icons i {
    font-size: 1.2rem;
    color: white;
}
